@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica Neue'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./logos/pinkkiJaSini.png');
  font-family: 'Cantarell';
  font-size: 25px;
  color: rgb(162, 116, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'Dancing Script', cursive;
}

.alert {
  color: red;
}

.caps {
  color:red
}
.header h1, h2 {
  font-family: 'Dancing Script';
  font-size: 55px;
  color: goldenrod;
}
.container {
  background-image: url('./logos/Uusin.png');
  background-size: center;
  background-repeat: no-repeat;
}
.circular--square {
  border-radius: 50%;  
}
.navbar-custom {
  background-color: lightgreen;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: green;
}