@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica Neue'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./logos/Uusin.png');
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgb(221, 235, 212);
  font-family: 'Cantarell';
  font-size: 20px;
  color: rgb(61, 57, 57);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'Dancing Script', cursive;
}

.alert {
  color: red;
}

.menuLink {
  color: black;
  padding-right: 25px;
  font-size: 15px;
}

.caps {
  color:red
}
.header h1, h2, h3 {
  font-family: 'Dancing Script';
  font-size: 35px;
  text-shadow: 1px 1px white;
  color: black;
}
.container {
  background-size: center;
  background-repeat: no-repeat;
}
.circular--square {
  border-radius: 50%;  
}
.navbar-custom {
  background-color: transparent;
  font-family: 'Dancing Script';
  text-shadow: 1px 1px white;
  font-size: 75px;
}
.palkki {
  padding: 25;
}
